# =============================================================================
# Root .gitignore for Project_242_Final
# =============================================================================

# Cassandra Local Binaries (Leftovers)
apache-cassandra-*/
apache-cassandra-*-bin/

# Dependencies
**/node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*